{% extends 'base.html.twig' %}

{% block body %}
    <h5>nom: {{ etudiant.enom }}</h5>
    <h5>prenom: {{ etudiant.eprenom }}</h5>
    <h5>classe: {{ etudiant.classe }}</h5>
    <h5>date nais: {{ etudiant.dateNais.format('d-m-Y') }}</h5>
    <a class="btn btn-danger" href="/etudiant/delete/{{ etudiant.id }}">supprimer</a>
    <a class="btn btn-secondary" href="/etudiant/edit/{{ etudiant.id }}">editer</a>
{% endblock %}
